<form method="POST">

  <div class="form-inline">
    <div class="form-group">
      <input type="text" class="line-input" name="username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="text" class="line-input" name="startdate" placeholder="Start YYYY-MM-DD">
    </div>
    <div class="form-group">
      <input type="text" class="line-input" name="enddate" placeholder="End YYYY-MM-DD">
    </div>
    <div class="form-group">
      <input type="number" class="line-input" name="frequency" placeholder="Minimum Word Count">
    </div>
    <div class="form-group">
      <input type="text" class="line-input" name="jsonl" placeholder="Jsonl Link (Default: False)">
    </div>
    <div class="form-group">
      <input type="text" class="line-input" name="csv" placeholder="CSV Link (Default: False)">
    </div>
  </div>

  <div class=" form-group">
    <button type="submit" class="btn btn-light text-primary btn-block" style="margin : 20px 20px -10px 0px">Submit</button>
  </div>

</form>
